CmdbSoapClient/Service References/CmsService/CmsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CmsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" />
      <xsd:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CmdbAPI.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICmsService_DeleteAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConnectionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConnectionRule" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConnectionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConnectionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConnection" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteItemAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemAttribute" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteItemAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteItemTypeAttributeGroupMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemTypeAttributeGroupMapping" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteItemTypeAttributeGroupMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemTypeAttributeGroupMappingResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateItemAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemAttribute" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateItemAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnection" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateLink_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLink" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLinkResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteLink_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLink" />
  </wsdl:message>
  <wsdl:message name="ICmsService_DeleteLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLinkResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteConnectionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteConnectionRule" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteConnectionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteConnectionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteItemTypeAttributeGroupMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteItemTypeAttributeGroupMapping" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CanDeleteItemTypeAttributeGroupMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanDeleteItemTypeAttributeGroupMappingResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionCountForConnectionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionCountForConnectionRule" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionCountForConnectionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionCountForConnectionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemAttributesCountForAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemAttributesCountForAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemAttributesCountForAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemAttributesCountForAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypesCount" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypesCountResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetRoleForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleForUser" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetRoleForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleForUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ICmsService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItems" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_SearchConfigurationItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchConfigurationItems" />
  </wsdl:message>
  <wsdl:message name="ICmsService_SearchConfigurationItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchConfigurationItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_SearchNeighborConfigurationItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNeighborConfigurationItems" />
  </wsdl:message>
  <wsdl:message name="ICmsService_SearchNeighborConfigurationItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNeighborConfigurationItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsByType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsByTypeName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsByTypeName" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsByTypeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsByTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemByTypeIdAndName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemByTypeIdAndName" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemByTypeIdAndName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemByTypeIdAndNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsConnectableAsLowerItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsConnectableAsLowerItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsConnectableAsLowerItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsConnectableAsLowerItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsConnectableAsUpperItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsConnectableAsUpperItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConfigurationItemsConnectableAsUpperItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationItemsConnectableAsUpperItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetResponsibilitesForConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResponsibilitesForConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetResponsibilitesForConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponsibilitesForConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributesForConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesForConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributesForConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesForConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributesForAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesForAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributesForAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesForAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttribute" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeForConfigurationItemByAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeForConfigurationItemByAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeForConfigurationItemByAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeForConfigurationItemByAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeForConfigurationItemByAttributeTypeName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeForConfigurationItemByAttributeTypeName" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeForConfigurationItemByAttributeTypeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeForConfigurationItemByAttributeTypeNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionsForItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsForItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionsForItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsForItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionsToLowerForItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsToLowerForItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionsToLowerForItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsToLowerForItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionsToUpperForItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsToUpperForItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionsToUpperForItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionsToUpperForItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionByContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionByContent" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionByContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionByContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetLinksForConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinksForConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetLinksForConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinksForConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnection" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroups" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroupsAssignedToItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupsAssignedToItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroupsAssignedToItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupsAssignedToItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroupsNotAssignedToItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupsNotAssignedToItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeGroupsNotAssignedToItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupsNotAssignedToItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypes" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypesForAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesForAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypesForAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesForAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypesForItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesForItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypesForItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesForItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypesForCorrespondingValuesOfType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesForCorrespondingValuesOfType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAttributeTypesForCorrespondingValuesOfType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeTypesForCorrespondingValuesOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAllowedDownwardConnnectionTypesForItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllowedDownwardConnnectionTypesForItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetAllowedDownwardConnnectionTypesForItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllowedDownwardConnnectionTypesForItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetLowerItemTypeForUpperItemTypeAndConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLowerItemTypeForUpperItemTypeAndConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetLowerItemTypeForUpperItemTypeAndConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLowerItemTypeForUpperItemTypeAndConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetUpperItemTypeForLowerItemTypeAndConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpperItemTypeForLowerItemTypeAndConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetUpperItemTypeForLowerItemTypeAndConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpperItemTypeForLowerItemTypeAndConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRules" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesForItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesForItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesForItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesForItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesByUpperItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesByUpperItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesByUpperItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesByUpperItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesByLowerItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesByLowerItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesByLowerItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesByLowerItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRule" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRuleByContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRuleByContent" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRuleByContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRuleByContentResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesByUpperAndLowerItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesByUpperAndLowerItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionRulesByUpperAndLowerItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionRulesByUpperAndLowerItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionTypes" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypes" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypesByAllowedAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypesByAllowedAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypesByAllowedAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypesByAllowedAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypeAttributeGroupMappings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypeAttributeGroupMappings" />
  </wsdl:message>
  <wsdl:message name="ICmsService_GetItemTypeAttributeGroupMappings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemTypeAttributeGroupMappingsResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_TakeResponsibilityForConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeResponsibilityForConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_TakeResponsibilityForConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeResponsibilityForConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConnectionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnectionRule" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConnectionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnectionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateItemTypeAttributeGroupMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemTypeAttributeGroupMapping" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateItemTypeAttributeGroupMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemTypeAttributeGroupMappingResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_CreateConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateAttributeType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateAttributeType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateConnectionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectionRule" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateConnectionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateConnectionType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectionType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateConnectionType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConnectionTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateItemType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemType" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateItemType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateItemAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemAttribute" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateItemAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_UpdateConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICmsService_AbandonResponsibilityForConfigurationItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AbandonResponsibilityForConfigurationItem" />
  </wsdl:message>
  <wsdl:message name="ICmsService_AbandonResponsibilityForConfigurationItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbandonResponsibilityForConfigurationItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ICmsService">
    <wsdl:operation name="DeleteAttributeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteAttributeGroup" message="tns:ICmsService_DeleteAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteAttributeGroupResponse" message="tns:ICmsService_DeleteAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteAttributeType" message="tns:ICmsService_DeleteAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteAttributeTypeResponse" message="tns:ICmsService_DeleteAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConnectionRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteConnectionRule" message="tns:ICmsService_DeleteConnectionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteConnectionRuleResponse" message="tns:ICmsService_DeleteConnectionRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteConnectionType" message="tns:ICmsService_DeleteConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteConnectionTypeResponse" message="tns:ICmsService_DeleteConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteItemType" message="tns:ICmsService_DeleteItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteItemTypeResponse" message="tns:ICmsService_DeleteItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteConfigurationItem" message="tns:ICmsService_DeleteConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteConfigurationItemResponse" message="tns:ICmsService_DeleteConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteConnection" message="tns:ICmsService_DeleteConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteConnectionResponse" message="tns:ICmsService_DeleteConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteItemAttribute" message="tns:ICmsService_DeleteItemAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteItemAttributeResponse" message="tns:ICmsService_DeleteItemAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemTypeAttributeGroupMapping">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteItemTypeAttributeGroupMapping" message="tns:ICmsService_DeleteItemTypeAttributeGroupMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteItemTypeAttributeGroupMappingResponse" message="tns:ICmsService_DeleteItemTypeAttributeGroupMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItemAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateItemAttribute" message="tns:ICmsService_CreateItemAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateItemAttributeResponse" message="tns:ICmsService_CreateItemAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateConnection" message="tns:ICmsService_CreateConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateConnectionResponse" message="tns:ICmsService_CreateConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLink">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateLink" message="tns:ICmsService_CreateLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateLinkResponse" message="tns:ICmsService_CreateLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLink">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/DeleteLink" message="tns:ICmsService_DeleteLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/DeleteLinkResponse" message="tns:ICmsService_DeleteLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeleteAttributeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CanDeleteAttributeGroup" message="tns:ICmsService_CanDeleteAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CanDeleteAttributeGroupResponse" message="tns:ICmsService_CanDeleteAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeleteAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CanDeleteAttributeType" message="tns:ICmsService_CanDeleteAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CanDeleteAttributeTypeResponse" message="tns:ICmsService_CanDeleteAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeleteConnectionRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CanDeleteConnectionRule" message="tns:ICmsService_CanDeleteConnectionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CanDeleteConnectionRuleResponse" message="tns:ICmsService_CanDeleteConnectionRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeleteConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CanDeleteConnectionType" message="tns:ICmsService_CanDeleteConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CanDeleteConnectionTypeResponse" message="tns:ICmsService_CanDeleteConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeleteItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CanDeleteItemType" message="tns:ICmsService_CanDeleteItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CanDeleteItemTypeResponse" message="tns:ICmsService_CanDeleteItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanDeleteItemTypeAttributeGroupMapping">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CanDeleteItemTypeAttributeGroupMapping" message="tns:ICmsService_CanDeleteItemTypeAttributeGroupMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CanDeleteItemTypeAttributeGroupMappingResponse" message="tns:ICmsService_CanDeleteItemTypeAttributeGroupMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionCountForConnectionRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionCountForConnectionRule" message="tns:ICmsService_GetConnectionCountForConnectionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionCountForConnectionRuleResponse" message="tns:ICmsService_GetConnectionCountForConnectionRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemAttributesCountForAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItemAttributesCountForAttributeType" message="tns:ICmsService_GetItemAttributesCountForAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemAttributesCountForAttributeTypeResponse" message="tns:ICmsService_GetItemAttributesCountForAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemTypesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItemTypesCount" message="tns:ICmsService_GetItemTypesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemTypesCountResponse" message="tns:ICmsService_GetItemTypesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetRoleForUser" message="tns:ICmsService_GetRoleForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetRoleForUserResponse" message="tns:ICmsService_GetRoleForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/Test" message="tns:ICmsService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/TestResponse" message="tns:ICmsService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItem" message="tns:ICmsService_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemResponse" message="tns:ICmsService_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItem" message="tns:ICmsService_GetConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemResponse" message="tns:ICmsService_GetConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItems" message="tns:ICmsService_GetConfigurationItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsResponse" message="tns:ICmsService_GetConfigurationItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchConfigurationItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/SearchConfigurationItems" message="tns:ICmsService_SearchConfigurationItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/SearchConfigurationItemsResponse" message="tns:ICmsService_SearchConfigurationItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchNeighborConfigurationItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/SearchNeighborConfigurationItems" message="tns:ICmsService_SearchNeighborConfigurationItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/SearchNeighborConfigurationItemsResponse" message="tns:ICmsService_SearchNeighborConfigurationItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItemsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsByType" message="tns:ICmsService_GetConfigurationItemsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsByTypeResponse" message="tns:ICmsService_GetConfigurationItemsByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItemsByTypeName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsByTypeName" message="tns:ICmsService_GetConfigurationItemsByTypeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsByTypeNameResponse" message="tns:ICmsService_GetConfigurationItemsByTypeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItemByTypeIdAndName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemByTypeIdAndName" message="tns:ICmsService_GetConfigurationItemByTypeIdAndName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemByTypeIdAndNameResponse" message="tns:ICmsService_GetConfigurationItemByTypeIdAndName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItemsConnectableAsLowerItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsConnectableAsLowerItem" message="tns:ICmsService_GetConfigurationItemsConnectableAsLowerItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsConnectableAsLowerItemResponse" message="tns:ICmsService_GetConfigurationItemsConnectableAsLowerItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationItemsConnectableAsUpperItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsConnectableAsUpperItem" message="tns:ICmsService_GetConfigurationItemsConnectableAsUpperItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConfigurationItemsConnectableAsUpperItemResponse" message="tns:ICmsService_GetConfigurationItemsConnectableAsUpperItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResponsibilitesForConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetResponsibilitesForConfigurationItem" message="tns:ICmsService_GetResponsibilitesForConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetResponsibilitesForConfigurationItemResponse" message="tns:ICmsService_GetResponsibilitesForConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributesForConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributesForConfigurationItem" message="tns:ICmsService_GetAttributesForConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributesForConfigurationItemResponse" message="tns:ICmsService_GetAttributesForConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributesForAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributesForAttributeType" message="tns:ICmsService_GetAttributesForAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributesForAttributeTypeResponse" message="tns:ICmsService_GetAttributesForAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttribute" message="tns:ICmsService_GetAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeResponse" message="tns:ICmsService_GetAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeForConfigurationItemByAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeForConfigurationItemByAttributeType" message="tns:ICmsService_GetAttributeForConfigurationItemByAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeForConfigurationItemByAttributeTypeResponse" message="tns:ICmsService_GetAttributeForConfigurationItemByAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeForConfigurationItemByAttributeTypeName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeForConfigurationItemByAttributeTypeName" message="tns:ICmsService_GetAttributeForConfigurationItemByAttributeTypeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeForConfigurationItemByAttributeTypeNameResponse" message="tns:ICmsService_GetAttributeForConfigurationItemByAttributeTypeName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionsForItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionsForItem" message="tns:ICmsService_GetConnectionsForItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionsForItemResponse" message="tns:ICmsService_GetConnectionsForItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionsToLowerForItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionsToLowerForItem" message="tns:ICmsService_GetConnectionsToLowerForItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionsToLowerForItemResponse" message="tns:ICmsService_GetConnectionsToLowerForItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionsToUpperForItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionsToUpperForItem" message="tns:ICmsService_GetConnectionsToUpperForItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionsToUpperForItemResponse" message="tns:ICmsService_GetConnectionsToUpperForItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionByContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionByContent" message="tns:ICmsService_GetConnectionByContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionByContentResponse" message="tns:ICmsService_GetConnectionByContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinksForConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetLinksForConfigurationItem" message="tns:ICmsService_GetLinksForConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetLinksForConfigurationItemResponse" message="tns:ICmsService_GetLinksForConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnection" message="tns:ICmsService_GetConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionResponse" message="tns:ICmsService_GetConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroups" message="tns:ICmsService_GetAttributeGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroupsResponse" message="tns:ICmsService_GetAttributeGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroup" message="tns:ICmsService_GetAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroupResponse" message="tns:ICmsService_GetAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroupsAssignedToItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroupsAssignedToItemType" message="tns:ICmsService_GetAttributeGroupsAssignedToItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroupsAssignedToItemTypeResponse" message="tns:ICmsService_GetAttributeGroupsAssignedToItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroupsNotAssignedToItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroupsNotAssignedToItemType" message="tns:ICmsService_GetAttributeGroupsNotAssignedToItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeGroupsNotAssignedToItemTypeResponse" message="tns:ICmsService_GetAttributeGroupsNotAssignedToItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypes" message="tns:ICmsService_GetAttributeTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesResponse" message="tns:ICmsService_GetAttributeTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeType" message="tns:ICmsService_GetAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypeResponse" message="tns:ICmsService_GetAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeTypesForAttributeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesForAttributeGroup" message="tns:ICmsService_GetAttributeTypesForAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesForAttributeGroupResponse" message="tns:ICmsService_GetAttributeTypesForAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeTypesForItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesForItemType" message="tns:ICmsService_GetAttributeTypesForItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesForItemTypeResponse" message="tns:ICmsService_GetAttributeTypesForItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeTypesForCorrespondingValuesOfType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesForCorrespondingValuesOfType" message="tns:ICmsService_GetAttributeTypesForCorrespondingValuesOfType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAttributeTypesForCorrespondingValuesOfTypeResponse" message="tns:ICmsService_GetAttributeTypesForCorrespondingValuesOfType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllowedDownwardConnnectionTypesForItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetAllowedDownwardConnnectionTypesForItemType" message="tns:ICmsService_GetAllowedDownwardConnnectionTypesForItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetAllowedDownwardConnnectionTypesForItemTypeResponse" message="tns:ICmsService_GetAllowedDownwardConnnectionTypesForItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLowerItemTypeForUpperItemTypeAndConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetLowerItemTypeForUpperItemTypeAndConnectionType" message="tns:ICmsService_GetLowerItemTypeForUpperItemTypeAndConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetLowerItemTypeForUpperItemTypeAndConnectionTypeResponse" message="tns:ICmsService_GetLowerItemTypeForUpperItemTypeAndConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpperItemTypeForLowerItemTypeAndConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetUpperItemTypeForLowerItemTypeAndConnectionType" message="tns:ICmsService_GetUpperItemTypeForLowerItemTypeAndConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetUpperItemTypeForLowerItemTypeAndConnectionTypeResponse" message="tns:ICmsService_GetUpperItemTypeForLowerItemTypeAndConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRules">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRules" message="tns:ICmsService_GetConnectionRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesResponse" message="tns:ICmsService_GetConnectionRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRulesForItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesForItemType" message="tns:ICmsService_GetConnectionRulesForItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesForItemTypeResponse" message="tns:ICmsService_GetConnectionRulesForItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRulesByUpperItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesByUpperItemType" message="tns:ICmsService_GetConnectionRulesByUpperItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesByUpperItemTypeResponse" message="tns:ICmsService_GetConnectionRulesByUpperItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRulesByLowerItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesByLowerItemType" message="tns:ICmsService_GetConnectionRulesByLowerItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesByLowerItemTypeResponse" message="tns:ICmsService_GetConnectionRulesByLowerItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRule" message="tns:ICmsService_GetConnectionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRuleResponse" message="tns:ICmsService_GetConnectionRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRuleByContent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRuleByContent" message="tns:ICmsService_GetConnectionRuleByContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRuleByContentResponse" message="tns:ICmsService_GetConnectionRuleByContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionRulesByUpperAndLowerItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesByUpperAndLowerItemType" message="tns:ICmsService_GetConnectionRulesByUpperAndLowerItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionRulesByUpperAndLowerItemTypeResponse" message="tns:ICmsService_GetConnectionRulesByUpperAndLowerItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionTypes" message="tns:ICmsService_GetConnectionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionTypesResponse" message="tns:ICmsService_GetConnectionTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetConnectionType" message="tns:ICmsService_GetConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetConnectionTypeResponse" message="tns:ICmsService_GetConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItemTypes" message="tns:ICmsService_GetItemTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemTypesResponse" message="tns:ICmsService_GetItemTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItemType" message="tns:ICmsService_GetItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemTypeResponse" message="tns:ICmsService_GetItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemTypesByAllowedAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItemTypesByAllowedAttributeType" message="tns:ICmsService_GetItemTypesByAllowedAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemTypesByAllowedAttributeTypeResponse" message="tns:ICmsService_GetItemTypesByAllowedAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemTypeAttributeGroupMappings">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/GetItemTypeAttributeGroupMappings" message="tns:ICmsService_GetItemTypeAttributeGroupMappings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/GetItemTypeAttributeGroupMappingsResponse" message="tns:ICmsService_GetItemTypeAttributeGroupMappings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeResponsibilityForConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/TakeResponsibilityForConfigurationItem" message="tns:ICmsService_TakeResponsibilityForConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/TakeResponsibilityForConfigurationItemResponse" message="tns:ICmsService_TakeResponsibilityForConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAttributeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateAttributeGroup" message="tns:ICmsService_CreateAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateAttributeGroupResponse" message="tns:ICmsService_CreateAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateAttributeType" message="tns:ICmsService_CreateAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateAttributeTypeResponse" message="tns:ICmsService_CreateAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConnectionRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateConnectionRule" message="tns:ICmsService_CreateConnectionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateConnectionRuleResponse" message="tns:ICmsService_CreateConnectionRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateConnectionType" message="tns:ICmsService_CreateConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateConnectionTypeResponse" message="tns:ICmsService_CreateConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateItemType" message="tns:ICmsService_CreateItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateItemTypeResponse" message="tns:ICmsService_CreateItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItemTypeAttributeGroupMapping">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateItemTypeAttributeGroupMapping" message="tns:ICmsService_CreateItemTypeAttributeGroupMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateItemTypeAttributeGroupMappingResponse" message="tns:ICmsService_CreateItemTypeAttributeGroupMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/CreateConfigurationItem" message="tns:ICmsService_CreateConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/CreateConfigurationItemResponse" message="tns:ICmsService_CreateConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAttributeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateAttributeGroup" message="tns:ICmsService_UpdateAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateAttributeGroupResponse" message="tns:ICmsService_UpdateAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAttributeType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateAttributeType" message="tns:ICmsService_UpdateAttributeType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateAttributeTypeResponse" message="tns:ICmsService_UpdateAttributeType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectionRule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateConnectionRule" message="tns:ICmsService_UpdateConnectionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateConnectionRuleResponse" message="tns:ICmsService_UpdateConnectionRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConnectionType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateConnectionType" message="tns:ICmsService_UpdateConnectionType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateConnectionTypeResponse" message="tns:ICmsService_UpdateConnectionType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateItemType" message="tns:ICmsService_UpdateItemType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateItemTypeResponse" message="tns:ICmsService_UpdateItemType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateItemAttribute" message="tns:ICmsService_UpdateItemAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateItemAttributeResponse" message="tns:ICmsService_UpdateItemAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/UpdateConfigurationItem" message="tns:ICmsService_UpdateConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/UpdateConfigurationItemResponse" message="tns:ICmsService_UpdateConfigurationItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbandonResponsibilityForConfigurationItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmsService/AbandonResponsibilityForConfigurationItem" message="tns:ICmsService_AbandonResponsibilityForConfigurationItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmsService/AbandonResponsibilityForConfigurationItemResponse" message="tns:ICmsService_AbandonResponsibilityForConfigurationItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CmsService" />
</wsdl:definitions>