CmdbSoapClient/Service References/CmsService/CmsService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" />
  <xs:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CmdbAPI.Security" />
  <xs:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DeleteAttributeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeGroup" nillable="true" type="q1:AttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttributeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteAttributeGroupResult" nillable="true" type="q2:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeType" nillable="true" type="q3:AttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteAttributeTypeResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConnectionRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionRule" nillable="true" type="q5:ConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConnectionRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteConnectionRuleResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionType" nillable="true" type="q7:ConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteConnectionTypeResult" nillable="true" type="q8:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemType" nillable="true" type="q9:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteItemTypeResult" nillable="true" type="q10:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="item" nillable="true" type="q11:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteConfigurationItemResult" nillable="true" type="q12:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connection" nillable="true" type="q13:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteConnectionResult" nillable="true" type="q14:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attribute" nillable="true" type="q15:ItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteItemAttributeResult" nillable="true" type="q16:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemTypeAttributeGroupMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemTypeAttributeMapping" nillable="true" type="q17:ItemTypeAttributeGroupMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemTypeAttributeGroupMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteItemTypeAttributeGroupMappingResult" nillable="true" type="q18:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attribute" nillable="true" type="q19:ItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateItemAttributeResult" nillable="true" type="q20:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connection" nillable="true" type="q21:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateConnectionResult" nillable="true" type="q22:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="link" nillable="true" type="q23:ItemLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateLinkResult" nillable="true" type="q24:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="link" nillable="true" type="q25:ItemLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="DeleteLinkResult" nillable="true" type="q26:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteAttributeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeGroup" nillable="true" type="q27:AttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteAttributeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteAttributeGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeType" nillable="true" type="q28:AttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteAttributeTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteConnectionRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionRule" nillable="true" type="q29:ConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteConnectionRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteConnectionRuleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionType" nillable="true" type="q30:ConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteConnectionTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemType" nillable="true" type="q31:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteItemTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteItemTypeAttributeGroupMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemTypeAttributeMapping" nillable="true" type="q32:ItemTypeAttributeGroupMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanDeleteItemTypeAttributeGroupMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanDeleteItemTypeAttributeGroupMappingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionCountForConnectionRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ruleId" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionCountForConnectionRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectionCountForConnectionRuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemAttributesCountForAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attributeType" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemAttributesCountForAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemAttributesCountForAttributeTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypesCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemTypesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleForUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CmdbAPI.Security" minOccurs="0" name="GetRoleForUserResult" type="q35:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetItemResult" nillable="true" type="q36:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemResult" nillable="true" type="q38:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemsResult" nillable="true" type="q39:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConfigurationItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="search" nillable="true" type="q40:Search" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConfigurationItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="SearchConfigurationItemsResult" nillable="true" type="q41:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNeighborConfigurationItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="search" nillable="true" type="q42:NeighborSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNeighborConfigurationItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="SearchNeighborConfigurationItemsResult" nillable="true" type="q43:ArrayOfNeighborItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="typeId" nillable="true" type="q44:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemsByTypeResult" nillable="true" type="q45:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsByTypeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="typeName" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsByTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemsByTypeNameResult" nillable="true" type="q47:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemByTypeIdAndName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemType" type="q48:guid" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemByTypeIdAndNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemByTypeIdAndNameResult" nillable="true" type="q49:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsConnectableAsLowerItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q50:guid" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ruleId" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsConnectableAsLowerItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemsConnectableAsLowerItemResult" nillable="true" type="q52:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsConnectableAsUpperItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q53:guid" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ruleId" type="q54:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationItemsConnectableAsUpperItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConfigurationItemsConnectableAsUpperItemResult" nillable="true" type="q55:ArrayOfConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsibilitesForConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="item" nillable="true" type="q56:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsibilitesForConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetResponsibilitesForConfigurationItemResult" nillable="true" type="q57:ArrayOfItemResponsibility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesForConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q58:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesForConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributesForConfigurationItemResult" nillable="true" type="q59:ArrayOfItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesForAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attributeTypeId" type="q60:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesForAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributesForAttributeTypeResult" nillable="true" type="q61:ArrayOfItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attributeId" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeResult" nillable="true" type="q63:ItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeForConfigurationItemByAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q64:guid" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="typeId" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeForConfigurationItemByAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeForConfigurationItemByAttributeTypeResult" nillable="true" type="q66:ItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeForConfigurationItemByAttributeTypeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q67:guid" />
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeForConfigurationItemByAttributeTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeForConfigurationItemByAttributeTypeNameResult" nillable="true" type="q68:ItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionsForItemResult" nillable="true" type="q70:ArrayOfConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsToLowerForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q71:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsToLowerForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionsToLowerForItemResult" nillable="true" type="q72:ArrayOfConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsToUpperForItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionsToUpperForItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionsToUpperForItemResult" nillable="true" type="q74:ArrayOfConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionByContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="upperItemId" type="q75:guid" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="connectionTypeId" type="q76:guid" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lowerItemId" type="q77:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionByContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionByContentResult" nillable="true" type="q78:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksForConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemId" type="q79:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksForConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetLinksForConfigurationItemResult" nillable="true" type="q80:ArrayOfItemLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="connId" type="q81:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionResult" nillable="true" type="q82:Connection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeGroupsResult" nillable="true" type="q83:ArrayOfAttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeGroupResult" nillable="true" type="q85:AttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroupsAssignedToItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemType" type="q86:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroupsAssignedToItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeGroupsAssignedToItemTypeResult" nillable="true" type="q87:ArrayOfAttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroupsNotAssignedToItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemType" type="q88:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeGroupsNotAssignedToItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeGroupsNotAssignedToItemTypeResult" nillable="true" type="q89:ArrayOfAttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeTypesResult" nillable="true" type="q90:ArrayOfAttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeTypeResult" nillable="true" type="q92:AttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesForAttributeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="group" nillable="true" type="q93:AttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesForAttributeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeTypesForAttributeGroupResult" nillable="true" type="q94:ArrayOfAttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesForItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemTypeId" type="q95:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesForItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeTypesForItemTypeResult" nillable="true" type="q96:ArrayOfAttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesForCorrespondingValuesOfType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="attributeTypeId" type="q97:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeTypesForCorrespondingValuesOfTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAttributeTypesForCorrespondingValuesOfTypeResult" nillable="true" type="q98:ArrayOfAttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllowedDownwardConnnectionTypesForItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemTypeId" type="q99:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllowedDownwardConnnectionTypesForItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetAllowedDownwardConnnectionTypesForItemTypeResult" nillable="true" type="q100:ArrayOfConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLowerItemTypeForUpperItemTypeAndConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="upperItemTypeId" type="q101:guid" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="connectionTypeId" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLowerItemTypeForUpperItemTypeAndConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetLowerItemTypeForUpperItemTypeAndConnectionTypeResult" nillable="true" type="q103:ArrayOfItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpperItemTypeForLowerItemTypeAndConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lowerItemTypeId" type="q104:guid" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="connectionTypeId" type="q105:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpperItemTypeForLowerItemTypeAndConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetUpperItemTypeForLowerItemTypeAndConnectionTypeResult" nillable="true" type="q106:ArrayOfItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRulesResult" nillable="true" type="q107:ArrayOfConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesForItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemType" type="q108:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesForItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRulesForItemTypeResult" nillable="true" type="q109:ArrayOfConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesByUpperItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemType" type="q110:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesByUpperItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRulesByUpperItemTypeResult" nillable="true" type="q111:ArrayOfConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesByLowerItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemType" type="q112:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesByLowerItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRulesByLowerItemTypeResult" nillable="true" type="q113:ArrayOfConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q114:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRuleResult" nillable="true" type="q115:ConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRuleByContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="upperItemType" type="q116:guid" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="connectionType" type="q117:guid" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lowerItemType" type="q118:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRuleByContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRuleByContentResult" nillable="true" type="q119:ConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesByUpperAndLowerItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="upperItemType" type="q120:guid" />
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lowerItemType" type="q121:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionRulesByUpperAndLowerItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionRulesByUpperAndLowerItemTypeResult" nillable="true" type="q122:ArrayOfConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionTypesResult" nillable="true" type="q123:ArrayOfConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q124:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetConnectionTypeResult" nillable="true" type="q125:ConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetItemTypesResult" nillable="true" type="q126:ArrayOfItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q127:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetItemTypeResult" nillable="true" type="q128:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypesByAllowedAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypesByAllowedAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetItemTypesByAllowedAttributeTypeResult" nillable="true" type="q130:ArrayOfItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypeAttributeGroupMappings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemTypeAttributeGroupMappingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="GetItemTypeAttributeGroupMappingsResult" nillable="true" type="q131:ArrayOfItemTypeAttributeGroupMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeResponsibilityForConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="item" nillable="true" type="q132:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeResponsibilityForConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="TakeResponsibilityForConfigurationItemResult" nillable="true" type="q133:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttributeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeGroup" nillable="true" type="q134:AttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttributeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateAttributeGroupResult" nillable="true" type="q135:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeType" nillable="true" type="q136:AttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateAttributeTypeResult" nillable="true" type="q137:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnectionRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionRule" nillable="true" type="q138:ConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnectionRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateConnectionRuleResult" nillable="true" type="q139:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionType" nillable="true" type="q140:ConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateConnectionTypeResult" nillable="true" type="q141:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemType" nillable="true" type="q142:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateItemTypeResult" nillable="true" type="q143:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemTypeAttributeGroupMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemTypeAttributeMapping" nillable="true" type="q144:ItemTypeAttributeGroupMapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateItemTypeAttributeGroupMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateItemTypeAttributeGroupMappingResult" nillable="true" type="q145:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="item" nillable="true" type="q146:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="CreateConfigurationItemResult" nillable="true" type="q147:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttributeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeGroup" nillable="true" type="q148:AttributeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttributeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateAttributeGroupResult" nillable="true" type="q149:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttributeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attributeType" nillable="true" type="q150:AttributeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttributeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateAttributeTypeResult" nillable="true" type="q151:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConnectionRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionRule" nillable="true" type="q152:ConnectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConnectionRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateConnectionRuleResult" nillable="true" type="q153:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConnectionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="connectionType" nillable="true" type="q154:ConnectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConnectionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateConnectionTypeResult" nillable="true" type="q155:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="itemType" nillable="true" type="q156:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateItemTypeResult" nillable="true" type="q157:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="attribute" nillable="true" type="q158:ItemAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateItemAttributeResult" nillable="true" type="q159:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="item" nillable="true" type="q160:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="UpdateConfigurationItemResult" nillable="true" type="q161:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonResponsibilityForConfigurationItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="item" nillable="true" type="q162:ConfigurationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbandonResponsibilityForConfigurationItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" minOccurs="0" name="AbandonResponsibilityForConfigurationItemResult" nillable="true" type="q163:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>