CmdbSoapClient/Service References/CmsService/CmsService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CmdbAPI.TransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51717/API/CmsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributes" nillable="true" type="tns:ArrayOfItem.Attribute" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="connectionsToLower" nillable="true" type="tns:ArrayOfItem.Connection" />
      <xs:element minOccurs="0" name="connectionsToUpper" nillable="true" type="tns:ArrayOfItem.Connection" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="lastChange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="links" nillable="true" type="tns:ArrayOfItem.Link" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsibilities" nillable="true" type="tns:ArrayOfItem.Responsibility" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="typeId" type="ser:guid" />
      <xs:element minOccurs="0" name="userIsResponsible" type="xs:boolean" />
      <xs:element minOccurs="0" name="version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfItem.Attribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item.Attribute" nillable="true" type="tns:Item.Attribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem.Attribute" nillable="true" type="tns:ArrayOfItem.Attribute" />
  <xs:complexType name="Item.Attribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="lastChange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="typeId" type="ser:guid" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item.Attribute" nillable="true" type="tns:Item.Attribute" />
  <xs:complexType name="ArrayOfItem.Connection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item.Connection" nillable="true" type="tns:Item.Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem.Connection" nillable="true" type="tns:ArrayOfItem.Connection" />
  <xs:complexType name="Item.Connection">
    <xs:sequence>
      <xs:element minOccurs="0" name="connectionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="ruleId" type="ser:guid" />
      <xs:element minOccurs="0" name="targetColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targetId" type="ser:guid" />
      <xs:element minOccurs="0" name="targetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targetType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targetTypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="typeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item.Connection" nillable="true" type="tns:Item.Connection" />
  <xs:complexType name="ArrayOfItem.Link">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item.Link" nillable="true" type="tns:Item.Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem.Link" nillable="true" type="tns:ArrayOfItem.Link" />
  <xs:complexType name="Item.Link">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item.Link" nillable="true" type="tns:Item.Link" />
  <xs:complexType name="ArrayOfItem.Responsibility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item.Responsibility" nillable="true" type="tns:Item.Responsibility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem.Responsibility" nillable="true" type="tns:ArrayOfItem.Responsibility" />
  <xs:complexType name="Item.Responsibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invalidAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="office" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item.Responsibility" nillable="true" type="tns:Item.Responsibility" />
  <xs:complexType name="ConfigurationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemLastChange" type="xs:long" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemVersion" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResponsibleUsers" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationItem" nillable="true" type="tns:ConfigurationItem" />
  <xs:complexType name="ArrayOfConfigurationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationItem" nillable="true" type="tns:ConfigurationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfigurationItem" nillable="true" type="tns:ArrayOfConfigurationItem" />
  <xs:complexType name="Search">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="tns:ArrayOfSearch.SearchAttribute" />
      <xs:element minOccurs="0" name="ChangedAfter" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ChangedBefore" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ConnectionsToLower" nillable="true" type="tns:ArrayOfSearch.SearchConnection" />
      <xs:element minOccurs="0" name="ConnectionsToUpper" nillable="true" type="tns:ArrayOfSearch.SearchConnection" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="NameOrValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsibleToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Search" nillable="true" type="tns:Search" />
  <xs:complexType name="ArrayOfSearch.SearchAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Search.SearchAttribute" nillable="true" type="tns:Search.SearchAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearch.SearchAttribute" nillable="true" type="tns:ArrayOfSearch.SearchAttribute" />
  <xs:complexType name="Search.SearchAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeTypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Search.SearchAttribute" nillable="true" type="tns:Search.SearchAttribute" />
  <xs:complexType name="ArrayOfSearch.SearchConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Search.SearchConnection" nillable="true" type="tns:Search.SearchConnection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearch.SearchConnection" nillable="true" type="tns:ArrayOfSearch.SearchConnection" />
  <xs:complexType name="Search.SearchConnection">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigurationItemType" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ConnectionType" type="ser:guid" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Search.SearchConnection" nillable="true" type="tns:Search.SearchConnection" />
  <xs:complexType name="NeighborSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraSearch" nillable="true" type="tns:Search" />
      <xs:element minOccurs="0" name="ItemType" type="ser:guid" />
      <xs:element minOccurs="0" name="MaxLevels" type="xs:int" />
      <xs:element minOccurs="0" name="SearchDirection" type="tns:Direction" />
      <xs:element minOccurs="0" name="SourceItem" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NeighborSearch" nillable="true" type="tns:NeighborSearch" />
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Upward">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Both">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Downward">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:complexType name="ArrayOfNeighborItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NeighborItem" nillable="true" type="tns:NeighborItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNeighborItem" nillable="true" type="tns:ArrayOfNeighborItem" />
  <xs:complexType name="NeighborItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:ConfigurationItem" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NeighborItem" nillable="true" type="tns:NeighborItem" />
  <xs:complexType name="ArrayOfItemResponsibility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemResponsibility" nillable="true" type="tns:ItemResponsibility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemResponsibility" nillable="true" type="tns:ArrayOfItemResponsibility" />
  <xs:complexType name="ItemResponsibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="ser:guid" />
      <xs:element minOccurs="0" name="ResponsibleToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemResponsibility" nillable="true" type="tns:ItemResponsibility" />
  <xs:complexType name="ArrayOfItemAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemAttribute" nillable="true" type="tns:ItemAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemAttribute" nillable="true" type="tns:ArrayOfItemAttribute" />
  <xs:complexType name="ItemAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeId" type="ser:guid" />
      <xs:element minOccurs="0" name="AttributeLastChange" type="xs:long" />
      <xs:element minOccurs="0" name="AttributeTypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="AttributeTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeVersion" type="xs:int" />
      <xs:element minOccurs="0" name="ItemId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemAttribute" nillable="true" type="tns:ItemAttribute" />
  <xs:complexType name="ArrayOfConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Connection" nillable="true" type="tns:Connection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnection" nillable="true" type="tns:ArrayOfConnection" />
  <xs:complexType name="Connection">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnId" type="ser:guid" />
      <xs:element minOccurs="0" name="ConnLowerItem" type="ser:guid" />
      <xs:element minOccurs="0" name="ConnType" type="ser:guid" />
      <xs:element minOccurs="0" name="ConnUpperItem" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Connection" nillable="true" type="tns:Connection" />
  <xs:complexType name="ArrayOfItemLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemLink" nillable="true" type="tns:ItemLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemLink" nillable="true" type="tns:ArrayOfItemLink" />
  <xs:complexType name="ItemLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="ser:guid" />
      <xs:element minOccurs="0" name="LinkDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkId" type="ser:guid" />
      <xs:element minOccurs="0" name="LinkURI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemLink" nillable="true" type="tns:ItemLink" />
  <xs:complexType name="ArrayOfAttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeGroup" nillable="true" type="tns:AttributeGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeGroup" nillable="true" type="tns:ArrayOfAttributeGroup" />
  <xs:complexType name="AttributeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="ser:guid" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeGroup" nillable="true" type="tns:AttributeGroup" />
  <xs:complexType name="ArrayOfAttributeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeType" nillable="true" type="tns:AttributeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeType" nillable="true" type="tns:ArrayOfAttributeType" />
  <xs:complexType name="AttributeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeGroup" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeType" nillable="true" type="tns:AttributeType" />
  <xs:complexType name="ArrayOfConnectionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConnectionType" nillable="true" type="tns:ConnectionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnectionType" nillable="true" type="tns:ArrayOfConnectionType" />
  <xs:complexType name="ConnectionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnTypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="ConnTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnTypeReverseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionType" nillable="true" type="tns:ConnectionType" />
  <xs:complexType name="ArrayOfItemType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemType" nillable="true" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemType" nillable="true" type="tns:ArrayOfItemType" />
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeBackColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemType" nillable="true" type="tns:ItemType" />
  <xs:complexType name="ArrayOfConnectionRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConnectionRule" nillable="true" type="tns:ConnectionRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnectionRule" nillable="true" type="tns:ArrayOfConnectionRule" />
  <xs:complexType name="ConnectionRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnType" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemLowerType" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemUpperType" type="ser:guid" />
      <xs:element minOccurs="0" name="MaxConnectionsToLower" type="xs:int" />
      <xs:element minOccurs="0" name="MaxConnectionsToUpper" type="xs:int" />
      <xs:element minOccurs="0" name="RuleId" type="ser:guid" />
      <xs:element minOccurs="0" name="ValidationExpression" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionRule" nillable="true" type="tns:ConnectionRule" />
  <xs:complexType name="ArrayOfItemTypeAttributeGroupMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemTypeAttributeGroupMapping" nillable="true" type="tns:ItemTypeAttributeGroupMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemTypeAttributeGroupMapping" nillable="true" type="tns:ArrayOfItemTypeAttributeGroupMapping" />
  <xs:complexType name="ItemTypeAttributeGroupMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemTypeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemTypeAttributeGroupMapping" nillable="true" type="tns:ItemTypeAttributeGroupMapping" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
</xs:schema>